.SpecializationsList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.skillListBtn {
  border-color: var(--color-black-200);
  color: var(--color-black-800);
}

.selected {
  border-color: var(--color-purple-700);
}
