.ArrowBtn {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 23px;
  border: 1px solid var(--color-purple-700);
  color: var(--color-purple-700);
  background-color: white;

  &:hover {
    border-color: var(--color-purple-800);
    color: var(--color-purple-800);
  }

  &:disabled {
    border-color: var(--color-purple-300);
    color: var(--color-purple-300);
    cursor: not-allowed;
  }
}

.right {
  rotate: 180deg;
}
