.CollectionListWithFilter {
    display: flex;
}

.container {
    background-color: white;
    margin: 20px 10px 45px;
    padding: 20px 10px;
    border-radius: 12px;
}

.collections-header {
    height: 48px;
    width: 100%;
    border-bottom: 0.5px solid var(--color-black-50);

    display: flex;
    justify-content: space-between;
}

.title {
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}

.filter {
}

.filter-icon {
    width: 36px;
    height: 36px;
    cursor: pointer;
}

@media (width >=1440px) {
    .filter-icon {
        display: none;
    }
}