.Logo {
  display: flex;
  align-items: center;
  width: max-content;
}

.text-logo {
  display: none;
}

@media (width > 768px) {
  .Logo {
    width: 172px;
    gap: 8px;
  }

  .text-logo {
    display: block;
  }
}
