.HomePage {
  padding-top: 20px;
  padding-bottom: 45px;
}

@media (width >= 768px) {
  .HomePage {
    padding-top: 24px;
    padding-bottom: 88px;
  }
}

@media (Width >= 1440px) {
  .HomePage {
    padding-top: 40px;
    padding-bottom: 140px;
  }
}